Variables And DataTypes

In [6]:
name: str = "Anas Baig"
age: int = 50
hobbies: list[str]= ["cricket","footBall"]
num:float = 7.2
tap: tuple = ("Anas","Baig")
obj:dict = {"name":"Anas Baig", "age":23}
print(id(name))
print(age)
print(hobbies)
print(num) 
print(tap)
print(obj)

2734303471408
50
['cricket', 'footBall']
7.2
('Anas', 'Baig')
{'name': 'Anas Baig', 'age': 23}

Strings Method

In [11]:
name1:str = "anas baig"
print("original state",name1)
print("uppercase",name1.upper())
print("lower case",name1.lower())
print("title",name1.title())
print("capitalize",name1.capitalize())

original state anas baig
uppercase ANAS BAIG
lower case anas baig
title Anas Baig
capitalize Anas baig

Concatinate String

In [12]:
first_name:str = "Anas"
last_name:str = "Baig"
full_name:str = f"{first_name} {last_name}"
print(full_name)

Anas Baig

Tab Space & New Line

In [17]:
print("Hello World \nHow are you") #newline
print("Hello World How are you")  #normal
print("Hello World How are \tyou")  #Tab Space

Hello World
How are you
Hello World How are you
Hello World How are 	you

Important Conversation About String and F-String

Single Quote

In [21]:
a = 'Anas Baig '  +" "+ 'Mirza Anas'
print(a)

Anas Baig  Mirza Anas

In [22]:
a = 'Hello how are you anas , \
# \n I am fine'
print(a)

Hello how are you anas , #
 I am fine

In [24]:
a = 'Hello Anas baig, anas baig father\'s name Qayyum Baig'
print(a)

Hello Anas baig, anas baig father's name Qayyum Baig

Double Quote

In [25]:
a = "Mirza Anas"
print(a)

Mirza Anas

In [26]:
a = "Mirza Anas" + " " + "Qayyum Baig"
print(a)

Mirza Anas Qayyum Baig

In [27]:
a = "Hello Anas how are you what's your father name"
print(a)

Hello Anas how are you what's your father name

In [32]:
a = "Hello Anas, \
    How are you, \
        I am Fine"
print(a)

Hello Anas,     How are you,         I am Fine

In [33]:
a = "Hello Anas, \
    \nHow are you, \
       \n\t I am Fine"
print(a)

Hello Anas,
How are you,
	 I am Fine

Three Quote

In [35]:
a = '''
Hello Anas,
How are you,
I am fine,
Mirza Anas
'''
print(a)

Hello Anas,
How are you,
I am fine,
Mirza Anas

In [36]:
a  = """Hello Anas,
How are you,
I am fine,
Mirza Anas"""
print(a)

Hello Anas,
How are you,
I am fine,
Mirza Anas

In [ ]:
F-String

In [38]:
name = "Anas Baig"
edu = 10
hobby = "Playing Cricket"

detail = f"My name is {name}, my age is {20+5}, my hobby is {hobby}"
print(detail)

My name is Anas Baig, my age is 25, my hobby is Playing Cricket

In [39]:
f_name = "Anas"
l_name = "Baig"
print(f"{f_name} {l_name}")

Anas Baig

format() Method in Python

In [44]:
words = "I am {name:^25}, My age is {age}, My Hobby is {game}.".format(name="Anas", age=20, game="Football")
print(words)

I am           Anas           , My age is 20, My Hobby is Football.

Number Methods

In [54]:
num1:int = 5
num2:int = 10
print(num2 + num1)
print(num2 - num1)
print(num2 * num1)
print(num2 / num1)
print(11 % num1)
print(3**2)
print(f"{num2} + {num1} = {num2 + num1}")
print(f"{num2} - {num1} = {num2 - num1}")
print(f"{num2} * {num1} = {num2 * num1}")
print(f"{num2} / {num1} = {num2 / num1}")
num3:int = 3
num4:int = 2
print(f"{num2}^{num4} = {num3 + num4}")

15
5
50
2.0
1
9
10 + 5 = 15
10 - 5 = 5
10 * 5 = 50
10 / 5 = 2.0
10^2 = 5

Casting Python

In [55]:
a = int (1)
b = int (2.0)
c = int ("3")
print(type(a))
print(type(b))
print(type(c))
print(a)
print(b)
print(c)

<class 'int'>
<class 'int'>
<class 'int'>
1
2
3

In [56]:
a = float (1)
b = float (2.0)
c = float ("3")
print(type(a))
print(type(b))
print(type(c))
print(a)
print(b)
print(c)

<class 'float'>
<class 'float'>
<class 'float'>
1.0
2.0
3.0

In [57]:
a = str (1)
b = str (2.0)
c = str ("3")
print(type(a))
print(type(b))
print(type(c))
print(a)
print(b)
print(c)

<class 'str'>
<class 'str'>
<class 'str'>
1
2.0
3

ID FUNCTION AND DATA TYPES IN PYTHON

In [60]:
name1:str = 'Anas'
name2:int = 123
name3:float = 12.3
name4:bool = True
arr = ['a','b','c']
# id method
print(id(name1))
print(id(name2))
print(id(name3))
print(id(name4))
print(id(arr))
# type method 
print(type(name1))
print(type(name2))
print(type(name3))
print(type(name4))
print(type(arr))

2734303441760
140730708154616
2734302076272
140730707020496
2734307242112
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>

ASSIGNMENT OPERATORS IN PYTHON

In [64]:
a = 3
print(a)
a += 3
print(a)
a *= 3
print(a)
a -= 3
print(a)
a **=2
print(a)
a /= 2
print(a)
a %= 2
print(a)
a //= 1
print(a)

3
6
18
15
225
112.5
0.5
0.0

COMPARISON OPERATORS IN PYTHON

In [74]:
a = 10+10
b = 20 
print( a > b )
print( b > a )
print( a < b)
print(a == b)
print(a != b)
print( a >= b)
print( a <= b)

False
False
False
True
False
True
True

Membership Operator in, not in

In [83]:
a = "Anas"
"s" not in a
# in list 
b = ["anas" , "mirza", 'usama']
"baig" in b

False

Logical Operator

In [92]:
a = 10
b = 20
# and operator

print(a == 10 and a < b and b == 40 )
print(a == 20 and a < b )


# or operator

print(a != 10 or a>b  or b==40)

# not Operator

print( not a==100)
print( not a==10)

True
False

BitWise Operator

In [99]:
a = 9
b = 12
print(bin(a))
print(bin(b))
# & operator

print(bin (a & b), f"= {a&b}")

# | operator

print(bin (a | b), f"= {a | b}")

# ^ operator

print(bin (a ^ b), f"= {a ^ b}")

0b1001
0b1100
0b101 = 5